<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Live League Games</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat="game in liveLeagueGames">
      <div class="well well-sm">
        <b>{{game.match_id}}</b>
      </div>
    </div>
  </div>
</div>
