<div class="well well-sm" ng-repeat="game in liveLeagueGames">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-success" ng-show="game.radiant_team.team_name">{{game.radiant_team.team_name}} {{game.scoreboard.radiant.score}}</h3>
      <h3 class="text-success" ng-hide="game.radiant_team.team_name">?</h3>
      <h5 class="text-success">Radiant</h5>
      <div class="player-info" ng-repeat="player in game.scoreboard.radiant.players">
        <img ng-src="{{getHeroImage(player.hero_id)}}"></img>
        <span>{{getPlayerName(game.players, player.account_id)}}</span>
        <img ng-src="{{getItemImage(player.item0)}}"></img>
        <img ng-src="{{getItemImage(player.item1)}}"></img>
        <img ng-src="{{getItemImage(player.item2)}}"></img>
        <img ng-src="{{getItemImage(player.item3)}}"></img>
        <img ng-src="{{getItemImage(player.item4)}}"></img>
        <img ng-src="{{getItemImage(player.item5)}}"></img>
      </div>
    </div>

    <div class="col-md-6">
      <h3 class="text-danger" ng-show="game.dire_team.team_name">{{game.dire_team.team_name}} {{game.scoreboard.dire.score}}</h3>
      <h3 class="text-danger" ng-hide="game.dire_team.team_name">?</h3>
      <h5 class="text-danger">Dire</h5>
      <div class="player-info" ng-repeat="player in game.scoreboard.dire.players">
        <img ng-src="{{getHeroImage(player.hero_id)}}"></img>
        <span>{{getPlayerName(game.players, player.account_id)}}</span>
        <img ng-src="{{getItemImage(player.item0)}}"></img>
        <img ng-src="{{getItemImage(player.item1)}}"></img>
        <img ng-src="{{getItemImage(player.item2)}}"></img>
        <img ng-src="{{getItemImage(player.item3)}}"></img>
        <img ng-src="{{getItemImage(player.item4)}}"></img>
        <img ng-src="{{getItemImage(player.item5)}}"></img>
      </div>
    </div>
  </div>
</div>
