<div id="home">
  <iframe width="100%" height="300" src="//jsfiddle.net/oskar/c6n7q/embedded/js,html,css,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <iframe width="100%" height="300" src="//jsfiddle.net/leaverou/zXPzY/embedded/js,html,css,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <iframe width="100%" height="300" src="//jsfiddle.net/kizu/zfUyN/embedded/js,html,css,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <iframe width="100%" height="300" src="//jsfiddle.net/hakim/Ht6Ym/embedded/js,html,css,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</div>
