<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/#/home">Home</a></li>
      <li><a href="/#/top-live-games">Top Live Games</a></li>
      <li><a href="/#/live-league-games">Live League Games</a></li>
      <li><a href="/#/heroes">Heroes</a></li>
      <li><a href="/#/items">Items</a></li>
      <li><a href="/#/art">Art</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log in</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </div>
</div>
