<div ng-repeat="game in liveLeagueGames">
  <!-- Radiant headers -->
  <div class="row">
    <div class="col-md-12">
      <span class="text-success">The Radiant</span><br/>
      <span class="text-success" ng-show="game.radiant_team.team_name">{{game.radiant_team.team_name}}</span>
      <span class="text-success" ng-hide="game.radiant_team.team_name">?</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <span class="text-success" ng-show="game.scoreboard.radiant.score">Score: {{game.scoreboard.radiant.score}}</span>
      <span class="text-success" ng-hide="game.scoreboard.radiant.score">Score: ?</span>
    </div>
    <div class="col-md-4">
      <span class="col-md-1">K</span>
      <span class="col-md-1">D</span>
      <span class="col-md-1">A</span>
      <span class="col-md-2">NET</span>
      <span class="col-md-2">LH</span>
      <span class="col-md-2">GPM</span>
      <span class="col-md-2">XPM</span>
    </div>
    <div class="col-md-5">
      <span>Items</span>
    </div>
  </div>
  <!-- Radiant players -->
  <div class="row player-info" ng-repeat="player in game.scoreboard.radiant.players">
    <div class="col-md-1">
      <img ng-src="{{getHeroImage(player.hero_id)}}"></img>
    </div>
    <div class="col-md-2">
      <span class="player-name">{{getPlayerName(game.players, player.account_id)}}</span></br>
      <span class="label label-warning">{{player.level}}</span>
      <span class="capitalize hero-name">{{getHeroName(player.hero_id)}}</span>
    </div>
    <div class="col-md-4">
      <span class="col-md-1">{{player.kills}}</span>
      <span class="col-md-1">{{player.death}}</span>
      <span class="col-md-1">{{player.assists}}</span>
      <span class="col-md-2">{{player.net_worth}}</span>
      <span class="col-md-2">{{player.last_hits}}/{{player.denies}}</span>
      <span class="col-md-2">{{player.gold_per_min}}</span>
      <span class="col-md-2">{{player.xp_per_min}}</span>
    </div>
    <div class="col-md-5">
      <div class="player-items">
        <img ng-src="{{getItemImage(player.item0)}}"></img>
        <img ng-src="{{getItemImage(player.item1)}}"></img>
        <img ng-src="{{getItemImage(player.item2)}}"></img>
        <img ng-src="{{getItemImage(player.item3)}}"></img>
        <img ng-src="{{getItemImage(player.item4)}}"></img>
        <img ng-src="{{getItemImage(player.item5)}}"></img>
      </div>
    </div>
  </div>

  <!-- Dire headers -->
  <div class="row">
    <div class="col-md-12">
      <span class="text-danger">The Dire</span><br/>
      <span class="text-danger" ng-show="game.dire_team.team_name">{{game.dire_team.team_name}}</span>
      <span class="text-danger" ng-hide="game.dire_team.team_name">?</span>
    </div>
  </div>
  <!-- Dire players -->
  <div class="row">
    <div class="col-md-3">
      <span class="text-danger" ng-show="game.scoreboard.dire.score">Score: {{game.scoreboard.dire.score}}</span>
      <span class="text-danger" ng-hide="game.scoreboard.dire.score">Score: ?</span>
    </div>
    <div class="col-md-4">
      <span class="col-md-1">K</span>
      <span class="col-md-1">D</span>
      <span class="col-md-1">A</span>
      <span class="col-md-2">NET</span>
      <span class="col-md-2">LH</span>
      <span class="col-md-2">GPM</span>
      <span class="col-md-2">XPM</span>
    </div>
    <div class="col-md-5">
      <span>Items</span>
    </div>
  </div>

  <div class="row player-info" ng-repeat="player in game.scoreboard.dire.players">
    <div class="col-md-1">
      <img ng-src="{{getHeroImage(player.hero_id)}}"></img>
    </div>
    <div class="col-md-2">
      <span class="player-name">{{getPlayerName(game.players, player.account_id)}}</span></br>
      <span class="label label-warning">{{player.level}}</span>
      <span class="capitalize hero-name">{{getHeroName(player.hero_id)}}</span>
    </div>
    <div class="col-md-4">
      <span class="col-md-1">{{player.kills}}</span>
      <span class="col-md-1">{{player.death}}</span>
      <span class="col-md-1">{{player.assists}}</span>
      <span class="col-md-2">{{player.net_worth}}</span>
      <span class="col-md-2">{{player.last_hits}}/{{player.denies}}</span>
      <span class="col-md-2">{{player.gold_per_min}}</span>
      <span class="col-md-2">{{player.xp_per_min}}</span>
    </div>
    <div class="col-md-5">
      <div class="player-items">
        <img ng-src="{{getItemImage(player.item0)}}"></img>
        <img ng-src="{{getItemImage(player.item1)}}"></img>
        <img ng-src="{{getItemImage(player.item2)}}"></img>
        <img ng-src="{{getItemImage(player.item3)}}"></img>
        <img ng-src="{{getItemImage(player.item4)}}"></img>
        <img ng-src="{{getItemImage(player.item5)}}"></img>
      </div>
    </div>
  </div>

</div>
