<div class="col-md-8">
  <div class="btn btn-default" style="display: inline-block; margin: 3px; padding: 3px;" ng-repeat="item in nonRecipeItems | orderBy: 'cost'">
    <img height="33px;" ng-src="{{item.image_url}}"></img>
    <span>{{item.name}}</span>
  </div>
</div>
