<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I don't know</title>
    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

    <!-- Angular UI Bootstrap -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
    <!-- Angular UI Router -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- Angular UI Lightbox -->
    <link rel="stylesheet" href="/node_modules/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css">
    <script src="/node_modules/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <!-- Angular YouTube Embed -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/node_modules/angular-youtube-embed/src/angular-youtube-embed.js"></script>

    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews">
    <div ng-include="'/javascripts/nav/nav.ejs'"></div>

    <div class="container">
      <ui-view></ui-view>
    </div>
    
    <div ng-include="'/javascripts/youtube/youtube.ejs'"></div>
    <!-- <div ng-include="'/javascripts/twitch/twitch.ejs'"></div> -->
    <!-- end of <body> -->


    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/home/home-controller.js"></script>
    <script src="/javascripts/forum/forum-controller.js"></script>
    <script src="/javascripts/nav/nav-controller.js"></script>
    <script src="/javascripts/youtube/youtube-controller.js"></script>
    <script src="/javascripts/youtube/youtube-service.js"></script>
    <script src="/javascripts/auth/auth-controller.js"></script>
    <script src="/javascripts/auth/auth-service.js"></script>
    <script src="/javascripts/posts/posts-controller.js"></script>
    <script src="/javascripts/posts/posts-service.js"></script>
    <script src="/javascripts/heroes/heroes-controller.js"></script>
    <script src="/javascripts/heroes/heroes-service.js"></script>
    <script src="/javascripts/items/items-controller.js"></script>
    <script src="/javascripts/items/items-service.js"></script>
    <script src="/javascripts/top-live-games/top-live-games-controller.js"></script>
    <script src="/javascripts/top-live-games/top-live-games-service.js"></script>
    <script src="/javascripts/live-league-games/live-league-games-controller.js"></script>
    <script src="/javascripts/live-league-games/live-league-games-service.js"></script>
    <script src="/javascripts/art/art-controller.js"></script>
    <script src="/javascripts/art/art-service.js"></script>
    <!-- <script src="/javascripts/twitch/twitch-controller.js"></script> -->
  </body>
</html>
