@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

$font-secondary: 'Fjalla One';
$white: #fff;
$blue: #2a9fd6;
$black: #000;
$black-lighten-1: #222;
$black-lighten-2: #444;

body {
  margin-top: 50px;
  /*background: url('http://i.imgur.com/h2gSgOc.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.navbar {
  font-family: $font-secondary;
  text-transform: uppercase;
  background: $black-lighten-1;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $black-lighten-2;
}
.navbar-default .navbar-nav > li {
  border-right: 1px solid $black-lighten-2;
}
.navbar-default .navbar-nav > li:nth-child(1) {
  border-left: 1px solid $black-lighten-2;
}
.navbar-default .pull-right > li:nth-child(1),
.navbar-default .pull-right > li:nth-child(3) {
  border-left: 1px solid $black-lighten-2;
}
.navbar-default .navbar-nav > li > a {
  color: $white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $blue;
}
.player-info {
  padding: 1px;
}
.player-info img {
  width: 90px;
  height: 50px;
}
.player-info .player-name {
  font-size: 15px;
  font-weight: bold;
}
.player-info .hero-name {
  font-size: 11px;
}
.player-items {
  padding: 3px;
}
.player-items img {
  margin: 2px;
  width: 61px;
  height: 46px;
  border: 1px solid $black;
}
.capitalize {
  text-transform: capitalize;
}
.hero-image {
  display: inline-block;
  padding: 3px;
  background: $black-lighten-1;
  margin: 2px;
  border: 1px solid $black;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.hero-image img {
  width: 80px;
  border: 1px solid $black;
}
.hero-image:hover {
  transform: scale(2);
}
.item-image {
  display: inline-block;
  padding: 3px;
  background: $black-lighten-1;
  margin: 2px;
  border: 1px solid $black;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.item-image img {
  width: 60px;
  border: 1px solid $black;
}
.item-image:hover {
  transform: scale(2);
}
.dota-image {
  display: inline-block;
  padding: 6px;
  background: $black-lighten-1;
  margin: 3px;
  border: 1px solid $black;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dota-image img {
  width: 201px;
  border: 1px solid $black;
}
.dota-image:hover {
  transform: scale(2);
}
#home iframe {
  margin-bottom: 10px;
}
#youtube {
  position: fixed;
  background: $black;
  top: 52px;
  right: 0px;
  width: 250px;
  border-left: 1px solid $black-lighten-2;
}
#youtube iframe {
  width: 249px;
  height: 140px;
}
.youtube-video-list {
  height: 778;
  overflow-y: scroll;
}
.youtube-video-list .active {
  border-left: 3px solid $blue;
  color: #ffff8d;
}
.youtube-video-list > div {
  background: $black-lighten-1;
  padding: 2px 5px;
  height: 44px;
  border-top: 1px solid $black-lighten-2;
}
.youtube-video-list > div:hover {
  cursor: pointer;
  color: #ffff8d;
}
.youtube-video-list img {
  width: 50px;
  margin-right: 5px;
  float: left;
}
.youtube-video-list span {
  position: relative;
  top: 5px;
  font-size: 10px;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
