<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavController">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active:isActive('/home')}"><a href="/#/home">Home</a></li>
        <li ng-class="{active:isActive('/top-live-games')}"><a href="/#/top-live-games">Top Live Games</a></li>
        <li ng-class="{active:isActive('/live-league-games')}"><a href="/#/live-league-games">Live League Games</a></li>
        <li ng-class="{active:isActive('/heroes')}"><a href="/#/heroes">Heroes</a></li>
        <li ng-class="{active:isActive('/items')}"><a href="/#/items">Items</a></li>
        <li ng-class="{active:isActive('/art')}"><a href="/#/art">Art</a></li>
        <li ng-class="{active:isActive('/forum')}"><a href="/#/forum">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log in</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </div>

  </div>
</div>
